<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seu.sun.babytun.Mapper.GoodsEvaluateMapper">
  <resultMap id="BaseResultMap" type="seu.sun.babytun.Model.GoodsEvaluate">
    <!--@mbg.generated-->
    <!--@Table t_evaluate-->
    <id column="evaluate_id" jdbcType="BIGINT" property="evaluateId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="stars" jdbcType="INTEGER" property="stars" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    evaluate_id, content, stars, create_time, goods_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_evaluate
    where evaluate_id = #{evaluateId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_evaluate
    where evaluate_id = #{evaluateId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="evaluate_id" keyProperty="evaluateId" parameterType="seu.sun.babytun.Model.GoodsEvaluate" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_evaluate (content, stars, create_time, 
      goods_id)
    values (#{content,jdbcType=VARCHAR}, #{stars,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{goodsId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="evaluate_id" keyProperty="evaluateId" parameterType="seu.sun.babytun.Model.GoodsEvaluate" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_evaluate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="content != null">
        content,
      </if>
      <if test="stars != null">
        stars,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="stars != null">
        #{stars,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="seu.sun.babytun.Model.GoodsEvaluate">
    <!--@mbg.generated-->
    update t_evaluate
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="stars != null">
        stars = #{stars,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
    </set>
    where evaluate_id = #{evaluateId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="seu.sun.babytun.Model.GoodsEvaluate">
    <!--@mbg.generated-->
    update t_evaluate
    set content = #{content,jdbcType=VARCHAR},
      stars = #{stars,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      goods_id = #{goodsId,jdbcType=BIGINT}
    where evaluate_id = #{evaluateId,jdbcType=BIGINT}
  </update>
<!--auto generated by MybatisCodeHelper on 2020-09-08-->
  <select id="selectAllByGoodsIdOrderByCreateTimeDesc" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_evaluate
    where goods_id=#{goodsId,jdbcType=BIGINT} order by create_time desc
  </select>
</mapper>