<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seu.sun.babytun.Mapper.PromotionSeckillMapper">
  <resultMap id="BaseResultMap" type="seu.sun.babytun.Model.PromotionSeckill">
    <!--@mbg.generated-->
    <!--@Table t_promotion_seckill-->
    <id column="ps_id" jdbcType="BIGINT" property="psId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="ps_count" jdbcType="INTEGER" property="psCount" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="current_price" jdbcType="FLOAT" property="currentPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ps_id, goods_id, ps_count, start_time, end_time, `status`, current_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_promotion_seckill
    where ps_id = #{psId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_promotion_seckill
    where ps_id = #{psId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ps_id" keyProperty="psId" parameterType="seu.sun.babytun.Model.PromotionSeckill" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_promotion_seckill (goods_id, ps_count, start_time, 
      end_time, `status`, current_price
      )
    values (#{goodsId,jdbcType=INTEGER}, #{psCount,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{currentPrice,jdbcType=FLOAT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ps_id" keyProperty="psId" parameterType="seu.sun.babytun.Model.PromotionSeckill" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_promotion_seckill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="psCount != null">
        ps_count,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="currentPrice != null">
        current_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="psCount != null">
        #{psCount,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="currentPrice != null">
        #{currentPrice,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="seu.sun.babytun.Model.PromotionSeckill">
    <!--@mbg.generated-->
    update t_promotion_seckill
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="psCount != null">
        ps_count = #{psCount,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="currentPrice != null">
        current_price = #{currentPrice,jdbcType=FLOAT},
      </if>
    </set>
    where ps_id = #{psId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="seu.sun.babytun.Model.PromotionSeckill">
    <!--@mbg.generated-->
    update t_promotion_seckill
    set goods_id = #{goodsId,jdbcType=INTEGER},
      ps_count = #{psCount,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      current_price = #{currentPrice,jdbcType=FLOAT}
    where ps_id = #{psId,jdbcType=BIGINT}
  </update>
<!--auto generated by MybatisCodeHelper on 2020-09-09-->
  <select id="findAllByStatus" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_promotion_seckill
    where now() BETWEEN start_time AND end_time AND `status`=0
  </select>

  <select id="findAllByStatusEnd" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_promotion_seckill
    where now()>end_time AND `status`=1
  </select>

</mapper>